:root {
  --primary: #1D1C39;
  --secondary: #FF22B1;
  --tertiary: #4461D7;
  --quadrary: #EAEEF4;
  --background: #fff;
  --text: #494E6A;
  --heading: #0B0E1F;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--text);
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  color: #fff;
  background: #3764ba;
}
